header {
   background: url("../img/arvo1.jpg") no-repeat fixed 0 0/cover;
   height: 100vh;
}

h1 {
   padding: 50px;
   font-size: 70px;
   font-family: 'Vollkorn', serif;
   font-weight: 400;
   color: white;
   letter-spacing: 0.06em;
}

blockquote {
   padding: 50px;
   color: white;
   font-family: 'Vollkorn', serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.1em;
   width: 40%;
}

h2 {
   padding: 50px;
   font-size: 30px;
   font-family: 'Vollkorn', serif;
   font-weight: 400;
   color: black;
   letter-spacing: 0.06em;
}

ol {
   padding: 50px;
   list-style-type: decimal;
   margin-left: 30px;
   font-family: 'Vollkorn', serif;
   font-weight: 400;
   font-size: 16px;

